*{
    padding: 0;
    margin: 0;
}

:root{
    --primary-color: #588157;
    --secondary-color: #57cc99;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: 'Signika';
}

.wrapper{
    display: flex;
    box-shadow: 0 0px 32px 0 rgba(0,0,0,0.37);
    border-radius: .5em;
}
.container{
    display: flex;
    height: 700px;
    width: 500px;
    border-radius: 0 .5em .5em 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    box-sizing: border-box;
}
.image_container{
    display: flex;
    align-items: center;
    height: 25%;
    width: 100%;
    justify-content: space-evenly;
}
.image_container img{
    width: 50px;
    height: 50px;
    transition: all .1s ease-in-out;
}
.image_container img:hover{
    transform: scale(1.1);
    transition: all .1s ease-in-out;
}
.container_top_text{
    display: none;
}
.side_container{
    width: 500px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0096c7;
    border-radius: .5em 0em 0 .5em;
    flex-direction: column;
    background-image: linear-gradient(to bottom, #588157 5%, transparent), url(images/forest_bg.png);
    color: white;
}
.side_container a{
    position: absolute;
    margin-top: 40em;
    color: black;
    color: white
}

#form_title{
    padding: 15px;
    color: white;
}
#form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 25px;
    width: 100%;
    outline: none;
}
#form label{
    padding: 10px 0;
    font-size: 1.2em;
    font-weight: 700;
    margin-top: 2em;
    text-align: left;
    color: white;
}

.input_container{
    width: 100%;
    padding: 5px 0;
    border-bottom: 2px solid  white;
    color: white;
}
.input_container:focus-within{
    border-bottom-color: var(--secondary-color);
}
.input_container:focus-within .fa-solid{
    color: var(--secondary-color);
}
.input_container input{
    height: 30px;
    border: 1px solid black;
    font-size: 1.2em;
    border: none;
    background: none;
    color: white;
    width: 420px;
    padding-left: 5px;
}

#form input:focus{
    outline: none;
}

#send_btn {
    border: none;
    cursor: pointer;
    height: 50px;
    border-radius: .5em;
    color: white;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border: 1px solid white;
    text-transform: uppercase;
    font-weight: 700;
    position: absolute;
    width: 450px;
    bottom: 20px;
    transition: all .1s ease; 
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(0px);
}
.bottom_links{
    display: flex;
    width: 450px;
    justify-content: space-between;
    position: absolute;
    bottom: 10em;
    color: white;
    text-decoration: none;
}

.bottom_links a{
    color: white;
    text-decoration: none;
}

.bottom_links a:hover{
    color: var(--primary-color);
}

.placeholder::-webkit-input-placeholder{
    color: rgba(255, 255, 255, 0.3);
}